<div class="side-bar-header">
  <div class="user-name">
    <a href="#">営業　太郎</a>
  </div>
  <div class="logout">
    <a href="#">ログアウト</a>
  </div>
</div>

<div class="client-lists">
  <div class="client">
    <div class="client-name">
      <a href="#">山田　花子</a>
    </div>
  </div>
  <div class="client">
    <div class="client-name">
      <a href="#">小林　太郎</a>
    </div>
  </div>
  <div class="client">
    <div class="client-name">
      <a href="#">佐藤　一郎</a>
    </div>
  </div>
</div>