<div class="side-bar-header">
  <div class="belonging-department">
    A店
  </div>
  <div class="user-name">
    営業　太郎
  </div>
  <div class="logout">
    <a href="#">ログアウト</a>
  </div>
</div>

<div class="client-lists">
  <div class="client">
    <div class="client-name">
      <a href="#">山田　花子様</a>
    </div>
    <div class="schedule">次回予定　＊月＊日</div>
  </div>
  <div class="client">
    <div class="client-name">
      <a href="#">小林　太郎様</a>
    </div>
    <div class="schedule">次回予定　＊月＊日</div>
  </div>
  <div class="client">
    <div class="client-name">
      <a href="#">佐藤　一郎様</a>
    </div>
    <div class="schedule">納車予定　＊月＊日</div>
  </div>
</div>