.full_screen {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.main_screen {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}


/* メイン画面 */
.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.customer-name {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid orange;
  color: orange;
  padding: 20px;
}

.customers-data {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.various-data {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.data-item {
  color: #000;
  font-weight: bold;
  width: 140px;
}

.data-content {
  margin-left: 10px;
}

.footer {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.memo {
  font-weight: bold;
  margin: 5px;
}

.memo-text {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-height: 60px;
  width: 100%;
  resize: vertical;
  max-height: 60px; /* 最大高さを制限 */
  overflow-y: auto; /* テキストがはみ出る場合にスクロールを追加 */
}

/* メイン画面 */

/* サイドバー */
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.belonging-department {
  font-size: 16px;
  color: #FAFAFA;
}

.user-name {
  font-size: 16px;
  color: #FAFAFA;
}

.logout a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.client-lists {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.client {
  padding: 20px 0 40px;
  display: flex;
}

.client-name a {
  text-decoration: none;
  color: white;
}

.schedule {
  color: white;
  margin-left: 20px;
}
/* サイドバー */