.full_screen {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.main_screen {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}



.main-header {
  height: 100px;
}
.customers-data {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
}
.form {
  background-color: #DDDDDD;
  height: 90px;
}


.side-bar-header {
  height: 100px;
}
.client-lists {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
}